.sidebaritem {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 8px 30px;
	cursor: pointer;
	font-size: 15px;
	width: 100%;
}
.sidebaritem:hover,
.sidebaritem.active {
	background-color: rgb(231, 231, 231);
	font-weight: 500;
}
.sidebaritem__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 24px;
}
@media screen and (max-width: 940px) {
}
